asgiref==3.8.1
certifi==2021.5.30
charset-normalizer==2.0.4
Django==4.2.20
django-bootstrap5==25.1
django_db==0.0.7
exceptiongroup==1.2.2
guizero==1.2.0
gunicorn==23.0.0
idna==3.2
iniconfig==2.1.0
packaging==24.2
pluggy==1.5.0
PyMySQL==1.1.1
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pytest==8.3.5
requests==2.26.0
sqlparse==0.5.3
tomli==2.2.1
typing_extensions==4.13.0
urllib3==1.26.6
